html,
body,
.body {
  background: #E4E5EA;
  background-color: #E4E5EA;
}

.header {
  background: #FF690F;
  background-color: #FF690F;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 20px;

    .logoWhite {
      width: 128px;
    }

    .userIcon {
      width: 32px;
    }
  }
}

.subHeader {
  background: #D65600;
  background-color: #D65600;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px;

    a {
      color: white;
      font-size: 14px;
      font-weight: 700;

      .icons {
        width: 20px;
        margin-right: 10px;
      }
    }

    .menuDivider {
      display: block; 
      height: 20px; 
      width: 1px; 
      background: #FF690F; 
      background-color: #ff690f;
    }
  }
}