<container>
    <row class="footerTop">
        <columns small="7" large="5">
            <row>
                <columns small="3" large="2">
                    <img src="{{root}}assets/img/kayak_files/logo_circle.png" class="circleLogo">
                </columns>
                <columns small="9" large="9" class="infoSection" valign="middle">
                    <span class="callToAction">Download the app</span>
                    <span class="info">Cheap flights, hotels & more</span>
                </columns>
            </row>
        </columns>
        <columns small="5" large="7" class="storeLogos">
            <row>
                <columns large="6" valign="middle">
                    <img src="{{root}}assets/img/kayak_files/appstore.png">
                </columns>
                <columns large="6" valign="middle">
                    <img src="{{root}}assets/img/kayak_files/playstore.png">
                </columns>
            </row>
        </columns>
    </row>
</container>