<container>
    <row class="footerTop">
        <columns large="6">
            <row>
                <columns large="2">
                    <img src="{{root}}assets/img/kayak_files/logo_circle.png">
                </columns>
                <columns large="10">
                    <span class="callToAction">Download the app</span>
                    <span class="info">Cheap flights, hotels & more</span>
                </columns>
            </row>
        </columns>
        <columns large="6">
            <row>
                <columns large="6">
                    <img src="{{root}}assets/img/kayak_files/appstore.png">
                </columns>
                <columns large="6">
                    <img src="{{root}}assets/img/kayak_files/playstore.png">
                </columns>
            </row>
        </columns>
    </row>
</container>